.body {
	background: url(https://images.unsplash.com/photo-1506795660198-e95c77602129?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
	text-align: center;
	font-size: 25px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color: burlywood;
	margin-top: 20px;

}
#text {
	background: whitesmoke;
	font-size: 20px;
	padding-top: 30px;
	padding-bottom: 30px;
	margin: auto;
    padding-top: 20px;
	padding-bottom: 40px;
}

#first {
	background: whitesmoke;
	font-size: 20px;
	margin-top: 50px;
	margin-bottom: 20px;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 40px;
    
}

#last {
	background: whitesmoke;
	font-size: 20px;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 40px;
    
}

#list {
	font-size: 20px;
	color: whitesmoke;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
    background-color: crimson;
    padding-top: 30px;
	padding-bottom: 20px;;
}

#second {
	font-size: 20px;
	color: whitesmoke;
	margin: auto;
	margin-bottom: 20px;
	margin-top: 20px;
    background-color: crimson;
    padding-top: 30px;
	padding-bottom: 20px;
}

strong {
	color: crimson;
    font-size: 20px;
}

hr {
    width: 30px;
    color: darkred;
}

button {
    color: crimson;
    border-radius: 20px;
    border-color: brown;
	margin-left: 30%;
	width: 130px;
	height: 40px;
}

button:hover {
	color: whitesmoke;
	background-color: crimson;
}

#nav {
	background-color: white;
}